
 /*COLOR PALETTE --------------------------------------------------------------------*/
:root {
    /* --primary-color: #f9f8f8;
    --secondary-color: #85ccff;
    --blue-color: #279af1;
    --accent-color: #f75590;
    --text-color: #30343f; */
    --primary-color: #fffffa;
    --secondary-color: #78cdd7;
    --blue-color: #44a1a0;
    --accent-color: #247b7b;
    --text-color: #0d5c63;

 }

/*HEADER -------------------------------------------------------------------------------*/
.headerLogo {
    height:3rem;
    width: auto;
    margin: 1rem 2rem;
}

header {
    background-image: linear-gradient(rgba(120, 205, 215, 1), rgba(120, 205, 215, 0));
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
}

header a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight:bolder;
}

header a:hover {
    color: var(--text-color);
}

header nav {
    margin: auto 2rem auto auto;
    position: relative;
    float: right;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:right;
    list-style: none;
    vertical-align: middle;
}

header nav ul li a {
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}



/*BODY STYLING --------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/images/pebble-background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:var(--primary-color);
    margin:0;
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    margin-bottom: 30px;
}

button {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border: none;
    width:90%;
    margin-top:15px;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
}
button:hover {
    color: var(--accent-color);
}

p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.card {
    border-style:solid;
    border-radius:15px;
}

.mainSection {
    margin:2rem 3rem;
    padding:2rem 3rem;
}

.overlay {
    top:0;
    left:0;
    bottom:0;
    margin:0;
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 250, 0.65);
}



/*FOOTER ------------------------------------------------------------------------------*/

footer {
    background-image: linear-gradient(rgba(120, 205, 215, 0), rgba(120, 205, 215, 1));
    color: var(--primary-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:0px;
}

/*ABOUT ME --------------------------------------------------------------------------------*/
.me {
    padding: 0 2rem;
}

.me img {
    float: left;
    width: 50%;
    padding:0;
    margin-right:2rem;
}

.mm-facts-header {
    margin: 0px;
    padding-bottom: 0px;
    width:90%;
    display:inline-block;
    align-items:center;
    justify-content: space-between;
}

.mm-facts {
    margin: 4rem auto;
}

/*RESUME ------------------------------------------------------------------------------*/
.resume {
    margin:6rem 14rem;
}

.icons {
    width:12rem;
    filter: invert(59%) sepia(23%) saturate(855%) hue-rotate(130deg) brightness(89%) contrast(92%);
    /* -webkit-filter:drop-shadow(3px 3px 3px #247b7b);
    filter: drop-shadow(3px 3px 3px #247b7b); */
}

.icon-container {
    width:60%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

/*MY WORK -----------------------------------------------------------------------------------------------*/
.cropped {
    width: 450px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    padding: auto;
}

.worksContainer {
    display: flex;
    flex-flow: row wrap;
}

.work-description {
    width: 30%;
}

.card {
    width:23rem; 
    margin:20px; 
    align-items:flex-start;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

/*PROJECT STYLES ---------------------------------------------------------*/
.works {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.work img {
    float:left;
    width: 60%;
    height: auto;
}
.work1 {
   background-color:var(--primary-color);
}
.work1 img{
    width: 85%;
    float: left;
    height: auto;
}

.work h2 {
    background-color:var(--primary-color);
}


/*CONTACT ME STYLES ---------------------------------------------------------*/
.chat {
    background-color:var(--primary-color);
}
.chat a {
    color:var(--text-color);
}
.chat h2{
    background-color:var(--primary-color);
}
.chat li {
    color: var(--text-color);
    font-size: 19px;
}