 /*COLOR PALETTE --------------------------------------------------------------------*/
:root {
    --primary-color: #fffffa;
    --secondary-color: #78cdd7;
    --blue-color: #44a1a0;
    --accent-color: #247b7b;
    --text-color: #0d5c63;
}

/*HEADER -------------------------------------------------------------------------------*/
.headerLogo {
    height:3rem;
    width: auto;
    margin: 1rem 2rem;
}

header {
    background-image: linear-gradient(rgba(120, 205, 215, 1), rgba(120, 205, 215, 0));
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
}

header a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight:bolder;
}

header a:hover {
    color: var(--text-color);
}

header nav {
    margin: auto 2rem auto auto;
    position: relative;
    float: right;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:right;
    list-style: none;
    vertical-align: middle;
}

header nav ul li a {
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}



/*BODY STYLING --------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color:var(--primary-color);
}

body::before {
    background-image: url("../images/images/pebble-background.jpg");
    content:'';
    display: block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.3;
    z-index:-2;
    background-repeat:no-repeat;
    background-position: 50% 0;
    background-size:cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    margin-bottom: 30px;
}

button {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border: none;
    width:90%;
    margin-top:15px;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
}
button:hover {
    color: var(--accent-color);
}

p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.mainSection {
    margin:0 3rem;
    padding:0 3rem;
}

/* .overlay {
    top:0;
    left:0;
    bottom:0;
    margin:0;
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 250, 0.65);
} */

/*FOOTER ------------------------------------------------------------------------------------------------------------------------*/
footer {
    background-image: linear-gradient(rgba(120, 205, 215, 0), rgba(120, 205, 215, 1));
    color: var(--primary-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:0px;
}

/*ABOUT ME --------------------------------------------------------------------------------------------------------------------------*/
.me {
    padding: 0 2rem;
}

.me img {
    float: left;
    width: 50%;
    padding:0;
    margin-right:2rem;
}

.mm-facts-header {
    margin: 0px;
    padding-bottom: 0px;
    width:90%;
    display:inline-block;
    align-items:center;
    justify-content: space-between;
}

.mm-facts {
    margin: 4rem auto;
}

/*RESUME ------------------------------------------------------------------------------------------------------------------------*/
.resume {
    margin:6rem 14rem;
}

.resume p a{
    text-decoration: none;
    color: var(--blue-color)
}

.icons {
    width:12rem;
    filter: invert(59%) sepia(23%) saturate(855%) hue-rotate(130deg) brightness(89%) contrast(92%);
    /* -webkit-filter:drop-shadow(3px 3px 3px #247b7b);
    filter: drop-shadow(3px 3px 3px #247b7b); */
}

.icon-container {
    width:60%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

/*MY WORK -----------------------------------------------------------------------------------------------------------------------------------------*/
.my-work-heading {
    margin:3rem 4rem 2rem 4rem;
}

.cards {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin: 0 3rem;
}

.card {
    background-color: #fffffa;
    border-radius:15px;
    border: none;
    -webkit-filter:drop-shadow(3px 3px 3px #44a1a0);
    filter: drop-shadow(3px 3px 3px #44a1a0);
    margin:1rem;
    flex-basis:30rem;
    height:auto;
    width:auto;
}

.card:hover {
    -webkit-filter:drop-shadow(3px 3px 3px #0d5c63);
    filter: drop-shadow(3px 3px 3px #0d5c63);
}

.card-image {
    align-items: center;
    border-radius:15px 15px 0 0;
}

.card-body {
    padding: 1rem 2rem;
}

@media screen and (min-width:40em) {
    .cards {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}
@media screen and (min-width:60em) {
    .cards {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}
@media screen and (min-width:52em) {
    .cards {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}

/*CONTACT ME STYLES ---------------------------------------------------------------------------------------------------*/
.lets-chat {
    margin:5rem 19rem 1rem 19rem;
}

.lets-chat p {
    text-decoration: none;
}

.lets-chat a {
    text-decoration: none;
    color: black;
}

.lets-chat a:hover{
    color:#247b7b;
}

/* .contact-form-container {
    margin: auto;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: none;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 0.25rem;
    max-width: 100%;
} */

input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px auto 16px auto;
  resize: vertical;
}

input[type=submit] {
    background-color: #247b7b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #44a1a0;
}
  

.container {
    border-radius: 5px;
    padding: 20px;
    margin: 0rem auto 2rem auto;
    padding:0rem auto 2rem auto;
    width:60%;
}