/*COLOR PALETTE*/
:root {
    --primary-color: #f9f8f8;
    --secondary-color: #279af1;
    --accent-color: #f75590;
    --text-color: #30343f;
 }

/*INFO AND NAV STYLING*/

.infoAndNavColumn {
    background-color: (var(--secondary-color));
}


.button {
    background-color: (var(--secondary-color));
    color:var(--primary-color);
    border: none;
    width:90%;
    margin-top:15px;
    margin-bottom: 15px;
    height: 30px;
}
.button:hover {
    background-color: lavender;
    color:blue;
    border: blue solid;
}
