
 /*COLOR PALETTE*/
:root {
    --primary-color: #f9f8f8;
    --secondary-color: #85ccff;
    --blue-color: #279af1;
    --accent-color: #f75590;
    --text-color: #30343f;
 }

/*HEADER*/
.headerLogo {
    height:3rem;
    width: auto;
    margin: 1rem 2rem;
}

header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
}

header a {
    text-decoration: none;
    color: var(--text-color);
    font-weight:700;
}

header a:hover {
    color: var(--accent-color);
}

header nav {
    margin: auto 2rem auto auto;
    position: relative;
    float: right;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:right;
    list-style: none;
    vertical-align: middle;
}

header nav ul li a {
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}



/*BODY STYLING*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    margin:0;
    font-family: 'Lato', sans-serif;
}


main {
    margin-left: 24%;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    margin-bottom: 30px;
}

button {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border: none;
    width:90%;
    margin-top:15px;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
}
button:hover {
    color: var(--accent-color);
}


/*ABOUT ME*/

/*MY WORK*/
.cropped {
    width: 450px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    padding: auto;
}

.worksContainer {
    display: flex;
    flex-flow: row wrap;
}

.work-description {
    width: 30%;
}

.card {
    width:23rem; 
    margin:20px; 
    align-items:flex-start;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

/*PROJECT STYLES*/
.works {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.work img {
    float:left;
    width: 60%;
    height: auto;
}
.work1 {
   background-color:var(--primary-color);
}
.work1 img{
    width: 85%;
    float: left;
    height: auto;
}

.work h2 {
    background-color:var(--primary-color);
}


/*CONTACT ME STYLES*/
.chat {
    background-color:var(--primary-color);
}
.chat a {
    color:var(--text-color);
}
.chat h2{
    background-color:var(--primary-color);
}
.chat li {
    color: var(--text-color);
    font-size: 19px;
}